body {
    background-color: #F5FEC0;
}

nav {
    background-color: #60A9A6;
}

nav .brand-logo {
    color: #F5FEC0;
}

.content {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    width: 500px;
    height: 500px;
    background-color: #60A9A6;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.cell {
    font-size: xxx-large;
    width: 123px;
    color: #60A9A6;
    background-color: #CAF2D7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    margin: 1px;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.animate__animated {
    --animate-duration: 0.5s;
}

.animate__fast {
    --animate-duration: 0.1s;
}

.cell1 {
    order: 1;
}

.cell2 {
    order: 2;
}

.cell3 {
    order: 3;
}

.cell4 {
    order: 4;
}

.cell5 {
    order: 5;
}

.cell6 {
    order: 6;
}

.cell7 {
    order: 7;
}

.cell8 {
    order: 8;
}

.cell9 {
    order: 9;
}

.cell10 {
    order: 10;
}

.cell11 {
    order: 11;
}

.cell12 {
    order: 12;
}

.cell13 {
    order: 13;
}

.cell14 {
    order: 14;
}

.cell15 {
    order: 15;
}

.cell16 {
    order: 16;
}

.unoccupied {
    opacity: 0;
    cursor: default;
}

.new-game {
    cursor: pointer;
}